[submodule "datacode_registry_index"]
	path = datacode_registry_index
	url = https://github.com/igornet0/Datacode-registry-index
	branch = main
[submodule "datacode_abi"]
	path = crates/datacode_abi
	url = https://github.com/igornet0/Datacode-abi.git
	branch = main
